@keyframes -global-loading {
  to {
    background-position:
      290px 0,
      0 0,
      0 290px,
      0px 290px;
  }
}

@keyframes -global-loading-button {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes -global-shake {
  8%,
  41% {
    transform: translateX(-10px);
  }
  25%,
  58% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-5px);
  }
  92% {
    transform: translateX(5px);
  }
  0%,
  100% {
    transform: translateX(0);
  }
}

@keyframes -global-back-in-left {
  0% {
    transform: translateX(-2000px);
    opacity: 0.7;
  }

  80% {
    transform: translateX(0px);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
