@keyframes -global-loading {  
  to {
    background-position: 290px 0, 0 0, 0 290px, 0px 290px;
  }
}

@keyframes -global-loading-button {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
