@import "../mixins";

:global(textarea) {
  outline: none;
  resize: none;
  overflow: hidden;

  padding: 14px;
  margin-bottom: 30px;
  box-sizing: border-box;

  height: calc(100vh - 600px);
  min-height: 200px;
  width: calc(100vw - 30px);
  max-width: 600px;

  background-color: var(--card-color);
  border: 2px solid transparent;
  color: var(--text-color);

  @include fluid-text(600px, 16pt, 33pt);
  @include border-radius(16px);

  &::placeholder {
    color: var(--muted-color);
    opacity: 1;
  }

  &:focus {
    border-color: var(--muted-color);
  }
}

:global(textarea.error) {
  color: var(--danger-color);
  border-color: var(--danger-color);
}
