@font-face {
  font-family: 'Inter custom';
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
  font-named-instance: 'Regular';
  src: url(/fonts/Inter.woff2) format('woff2 supports variations(gvar)'),
    url(/fonts/Inter.woff2) format('woff2-variations'),
    url(/fonts/Inter.woff2) format('woff2');
}

@supports (font-variation-settings: normal) {
  * {
    font-family: 'Inter custom', sans-serif;
  }
}
