// @import "./fonts";
@import "./mixins";
@import "./theme";
@import "./components/index";

:global(*),
:global(*:after),
:global(*:before) {
  @include box-sizing(border-box);
}

:global(*) {
  user-select: none;
  scrollbar-width: none;
}

:global(body),
:global(html) {
  margin: 0;
  padding: 0;

  text-rendering: optimizeLegibility;
  font-kerning: normal;

  min-width: 320px;
  min-height: 600px;

  background: var(--background-gradient);
}

:global(a:link),
:global(a:visited),
:global(a:hover),
:global(a:active) {
  text-decoration: none;
  color: initial;
}

:global(::-webkit-scrollbar) { 
  display: none; 
}
