// @import "./fonts";

:global(:root) {
  --background-gradient: linear-gradient(180deg, #EAF0FD 12.15%, #EEDEDE 100%);
  --button-color:  #814BD9;
  --border-color:  #FF6768;
  --text-negative: #fff;

  --success-color:  #a4ec6d;


  --background-color: #F3F3F8;
  --border-color:  #FF6768;
  --notification-color:  #ECFAFF;
  --card-color:  #c8ff00;
  --button-color:  #814BD9;
  --text-color:  #32335A;
  --modal-color:  #ac59ff;

  --secondary-color: #07BEF8;
  --primary-color: #814BD9;
  --danger-color: #FF2C2E;
  --warning-color: #ac59ff;
  --muted-color: #91AEBE;
  --hover-color: #000000;
}

:global(body[theme="dark"]) {
  --background-gradient: linear-gradient(180deg, #EAF0FD 12.15%, #EEDEDE 100%);
  --background-color:  #000000;
  --border-color:  #ac59ff
  --notification-color:  #ac59ff;
  --card-color: #ac59ff;
  --button-color: #ac59ff;
  --text-color: #ac59ff;
  --modal-color: #ac59ff;
  
  --primary-color: #ac59ff;
  --secondary-color: #ac59ff;
  --success-color: #ac59ff;
  --danger-color: #ac59ff;
  --warning-color: #ac59ff;
  --muted-color: #ac59ff;
  --hover-color: #ac59ff;
}
